@use '../../../../mixins';

.benefits-header {
  background-image: linear-gradient(#D8EAFF, #E9F4FF);
  padding: 0.125rem;
  @include mixins.border-radius-bg(8px, #FFFFFF);

  .benefits-headline {
    @include mixins.text-align(center);
    font-weight: 400;
    font-size: 0.688rem;
    margin-bottom: 0;
  }

  .benefits-amt {
    margin: 0.25rem 0;
    color: #77AA00;
    font-size: 0.875rem;
    text-align: center;
    font-weight: 700;
  }
}

@media (min-width: 576px) {
  .benefits-header {
    @include mixins.flex-align(row, space-between, center);
    padding: 0.5rem;

    .benefits-headline {
      margin: 0;
      font-size: 0.75rem;
    }

    .benefits-amt {
      font-size: 1rem;
    }
  }
}