.benefits-header{
    background-image: linear-gradient(#D8EAFF,#E9F4FF);
    padding: 0.125rem;
    border-radius: 8px 8px 0 0;
    .benefits-headline{
      text-align: center;
      font-weight: 400;  
      font-size: 0.688rem;
      margin-bottom: 0;
    }
    .benefits-amt{
        margin-top: 0.25rem;
        color: #77AA00;
        font-size: 0.875rem;
        text-align: center;
        font-weight: 700;
    }
}