.data-modal {
  width: 22.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .headlineAndCancel {
    display: flex;
    align-items: center;

    .healine {
      text-align: center;
      font-weight: 500;
    }

    .close-modal {
      color: rgba(196, 196, 196, 1);

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 576px) {
  .headlineAndCancel {
    background-color: rgba(142, 142, 142, 1);
    color: white;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 1rem;
  }

  .data-modal {
    width: 100%;
  }
}